* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

p {
  text-align: justify;
  max-width: 89%;
}

#pe {
  text-align: center;
  max-width: 100%;
}


:root {
  --primary: #db202c;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

#txtarea {
  line-height: 20px;
  padding: 10px;
  height: 90px;
  resize: none;
}